APP_PORT                     = 3000

# Repository variables
GIT_USERNAME                 = <username>
GIT_PASSWORD                 = <token>
GIT_POOL_INTERVAL            = 10000

# Authentication
BASIC_AUTH_USER              = user-local
BASIC_AUTH_PASS              = pass-local
