APP_PORT                     = 5002

# Authentication
# Possible values: jwt | basic | none
# AUTH_METHOD                  = none
# BASIC_AUTH_USER              = user-local
# BASIC_AUTH_PASS              = pass-local

# SpreadJS
SPREADJS_LICENCE_KEY      = <licence_key>
